.btn-primary{
    border: $bordo-solido;
    background-color: $sfondo-bottoni;
    color:$colore-bottoni;
    border-radius: 2px;
    padding: $padding;
    text-align: center;
    vertical-align: auto;
}
.btn-secondary{
    border: $bordo-solido;
    background-color: $sfondo-bottoni;
    color: $colore-bottoni;
    border-radius: 2px;
    padding: $padding;
    text-align: center;
    vertical-align: auto;   
}