body {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em; }

body h1 {
  color: violet;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder; }

body h2 {
  color: green;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold; }

header {
  background-color: blue;
  border-radius: 5px; }

header nav a {
  color: white;
  text-decoration: none; }

#main-menu ul {
  display: block; }

#main-menu li {
  display: inline; }

#main {
  width: 900px;
  margin-left: auto;
  margin-right: auto; }

#content {
  text-align: center; }
