@import "function";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

#pippo {
    background-color: aquamarine;
}
   
.crepes{
    margin: 30px;
}
h1{
    margin-top: 30px;
}


footer{
    background-color: aquamarine;
    text-align: center;
    padding: 30px;
}
#section{
    margin-top: 30px;
    margin-bottom: 30px;
}

.muffin{
    color: white;
}

.tonda{
    border-radius: 100%;
}
