body {
    background: rgb(238, 174, 202);
    background: linear-gradient(8deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form {
    width: 500px;
    height: 500px;
    padding: 1%;
    box-shadow: 2px 3px 5px gray;
    margin: 5%;
    border-radius: 20px;
    background-color: white;
        
}
span {
    
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: red;
}

div {
    font-size: 18px;
    
}

.form-control {
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

