/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/
.parola1{
    animation: nomeanimazione1 6s linear;
    animation-iteration-count: infinite;
}
@keyframes nomeanimazione1 {
    0%{opacity: 1;}
    33.3%{opacity: 0;}
    100%{opacity: 0;}
}
.parola2{
    animation: nomeanimazione2 6s linear 2s;
    animation-iteration-count: infinite;
}
@keyframes nomeanimazione2 {
    0%{opacity: 0;}
    34%{opacity: 1;}
    66.6%{opacity: 0; }
    100%{opacity: 0;}
}
.parole3{
    animation: nomeanimazione3 6s linear 4s
}
@keyframes nomeanimazione3 {
    0%{opacity: 0;}
    67%{opacity: 1;}
    100%{opacity: 0;}
}
div#testoAlternato {
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid #73AD21;
  } 
  .parola1, .parola2, .parola3 {
    position: absolute;
    top: 30px;
    right: 15px;
    width: 200px;
    height: 100px;
    
  }
